.stat-table{
    width: 100%;
}

table{
    border-collapse: collapse;
}

table, thead, tbody{
    width: 100%;
}

tr{
    display: flex;
}

td{
    text-align: center;
    width: 25%;
    border: 0.03vw gray solid;
    font-size: 1.2vw;
}

.head-name{
    font-weight: bold;
    width: 55%;
}

.head-piece{
    font-weight: bold;
}

.player-name{
    color: #1B2E59;
    width: 55%;
}
.stat-piece{
}

.hightlight-column{
    color: #0032A6;
    background-color: #e4edff;
}