.stat-table{
    width: 100%;
}

table{
    border-collapse: collapse;
}

table, thead, tbody{
    width: 100%;
}

tr{
    display: flex;
}

td{
    text-align: center;
    width: 25%;
    border: 0.03vw gray solid;
    font-size: 1.2vw;
}

.head-name{
    font-weight: bold;
    width: 55%;
}

.head-piece{
    font-weight: bold;
}

.player-name{
    color: #1B2E59;
    width: 55%;
}

/* .stat-piece{
} */

.hightlight-column{
    color: #0032A6;
    background-color: #e4edff;
}

.hightlight-row{
    background-color: #fcdd9c;
}

.search-field{
    display: flex;
    color: #1B2E59;
    margin: 1vh 0 1.5vh 0;
    height: 4vh;
    direction: ltr;
    font-size: 2.6vh;
}

#enter{
    height: 2.8vh;
    font-size: 2.4vh;
}

.search-bar{
    margin-left: 0.6vw;
    z-index: 1;
}

.search{
    color: #1B2E59;
    height: 2vh;
}

#search-submit{ 
    height: 3.8vh;
    margin-left: 0.5vw;
}

.search-result{
    /* display: none; */
    color: #1B2E59;
}

.search-result>p{
    line-height: 3.6vh;
    background-color: #e4edff;
    text-align: center;
    font-size: 2.4vh;
    opacity: 95%;
}

.search-result>p:hover{
    color: #e4edff;
    background-color: #1B2E59;
    transition-duration: 0.2s;
}

.hidden{
    display: none;
}

.player-onhover{
    background-color: #1B2E59;
    color: white
}

.player-preview{
    z-index: 1;
    opacity: 98%;
    background-color: #e4edff;
    position: absolute;
    height: 20vh;
    width: 36vw;
    border: #1B2E59 0.15vw solid;
    padding: 1.5vh 1.5vw 1.5vh 1.5vw;
    flex-direction: column;
}

.preview-title{
    width: 100%;
    height: 30%;
    font-size: 3.4vh;
    display: flex;
    direction: ltr;
    text-align: center;
}

.preview-name{
    text-align: left;
    width:44%;
}

.preview-age{
    width: 18%
}

.preview-info{
    width: 12%;
}

.preview-content{
    height: 70%;
}

.preview-stat{
    height: 25%;
    font-size: 2.6vh;
}