*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    position: fixed;
    margin: 0;
    overflow: scroll;
}

h3{
    line-height: 4vh;
    font-size: 4vh;
    font-weight: 500;
}

body::-webkit-scrollbar {
    display: none;
}

a{
    text-decoration: None;
}
hr{
    width: 100%;
    background-color: black;
    height: 0.15vh;
    border: none;
    margin-top: 1vh;
}
/* Variables */
:root{
    --bar-color: #00206A;
    --lh-multiple: 1;
}

/* nav bar settings */
.top-bg-img{
    top: 7.5vh;
    position: fixed;
    width: 100%; 
    height: 6.5vh;
    opacity: 100%;
}

#meta-container{
    padding: 8.5vh 2vw 3vh 2vw;
}

.upper-nav{
    position: fixed;
    width: 100%;
    background-color: var(--bar-color);
}
.upper-nav>.nav-list{
    display: flex;
    height: 6.5vh;
}
.upper-nav>.nav-list>.nav-item{
    text-align: center;
    width: 25%;
}
.upper-nav>.nav-list>.nav-item:hover,
.upper-nav>.nav-list>.logo:hover{
    background-color: rgba(116, 154, 199, 0.932);
}

.logo-pic{
    padding-top: 0.5vh;
    text-align: center;
    height: 5.5vh;
}

.nav-list a{
    color: white;
}
/* .nav-list img{
    padding-top: 1vh;
    height: 2.5vh;
} */
.tag{
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 2.5vh;
    line-height: 100%;
}
.logo{
    text-align: center;
    width:25%;
}
p {
    margin-block-start: 0em;
    margin-block-end: 0em;
 }

.sidebar{
    background-color: rgba(191, 203, 255, 0.966);
    opacity: 98%;
    color: white;
    position: fixed;
    width: 50%;
    height: 100%;
    /* display: none; */
    transition: transform ease 0.4s;
    transition-delay: 0.1s;
}
.sidebar .header{
    height: 7.5vh;
}

.sidebar>.header img{
    margin-top: 5%;
    height: 60%;
}

.sidebar a {
    color:black;
    display: block;
    width: 100%;
    line-height: 5vh;
    font-size: 3vh;
    padding-left: 2vh;
    padding-bottom: 0.5vh;
    letter-spacing: 0.5px;
    border-bottom: 2px black solid;
    box-sizing: border-box;
}

.sidebar a>img{
    padding-top: 1.5vh;
    padding-right: 0.6vh;
    height: 3vh;
}

.sidebar a:-webkit-any-link {
    color:black
}

.hide{
    transform: translateX(-100%);
}

.alert{
    display: flex;
    margin-left: 18%;
    margin-top: 36vh;
    width: relative;
    width: 64%;
    height: 18%;
    background: #fbfbfb;
    text-align: center;
    border: solid black 0.5vw;
    border-radius: 5vw;
    z-index: 2;
    flex-direction: column;
    padding: 2% 0 2% 0;
    background-color: #f3f3f3;
    position: fixed;
}

.alert-hide{
    display: none;
    z-index: -1;
}
.alert-title{
    font-size: 2.8vh;
    font-weight: 1000;
    height: 16%;
}
.alert-content{
    font-size: 2.4vh;
    height: 64%;
}
.alert-ok{
    height: 20%;
}
.alert-ok>button{
    font-size: 2vh;
    height: 3.2vh;
    width: 30%;
    border-radius: 2vw;
    border: solid 1px black;
    background: #d3d3d3;
}
