{% extends 'module.html' %}
        
{% block title %}
    <title>Page Not Found | Yu Chang Prediction</title>
{% endblock %}

{% block style_list %}
    <link rel="stylesheet" href="static/stylesheets/soon.css" type="text/css">
{% endblock %}

{% block body %}
    <span class="soon-box">
        <img class="error-player" src="/static/images/error.jpg">
        <span class="soon-text">
            <p class="soon">Page Not Found!!</p>
            <p class="soon-small">Sorry, we cannot find the page you're looking for :(</p>
        </span>
    </span>
{% endblock %}