{% extends 'module.html' %}
        
{% block title %}
    <title>Dashboard | Yu Chang Prediction</title>
{% endblock %}

{% block style_list %}
    <link rel="stylesheet" href="static/stylesheets/dashboard.css" type="text/css">
{% endblock %}

{% block body %}
    <span class="hidden" id="player-list">{{ players }}</span>
    <p class="head">Dashboard</p>
    <div class="search-field">
        <label for="enter">Search Player: </label>
        <div class="search-bar">
            <input id="enter" name="enter" type="text">
            <span class="search-result">
            </span>
        </div>
        <button id="search-submit"><img class="search" src=/static/images/search.png></button>
    </div>

    <table class="stat-table">
    <thead>
        <tr class="head-row">
            {% for j in range(16)%}
                {% if j == 0 %}
                    <td class="head-name">{{head[j]}}</td>
                {% endif %}
                {% if j != 0 %}
                    <td class="head-piece">{{head[j]}}</td>
                {% endif %}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for i in range(311)%}
        <tr>
            {% for j in range(16)%}
                {% if j == 0 %}
                    <td class="player-name">{{stats.iloc[i].values.tolist()[j]}}</td>
                {% endif %}
                {% if j != 0 %}
                    <td class="stat-piece">{{stats.iloc[i].values.tolist()[j]}}</td>
                {% endif %}

            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
    </table>

    {% block scripts %}
        <script src="/static/js/dashboard.js"></script>
    {% endblock %}
{% endblock %}