{% extends 'module.html' %}
        
{% block title %}
    <title>Coming Soon | Yu Chang Prediction</title>
{% endblock %}

{% block style_list %}
    <link rel="stylesheet" href="static/stylesheets/soon.css" type="text/css">
{% endblock %}

{% block body %}
    <span class="soon-box">
        <img class="soon-player" src="/static/images/soon1.png">
        <span class="soon-text">
            <p class="soon">Coming Soon!!</p>
            <p class="soon-small">We'll come back for more  contents</p>
        </span>
    </span>
{% endblock %}